<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="baja-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

   <iron-ajax
        auto=""
        id="accountBaja"
        url="http://localhost:3000/apitechu/v2/user/{{dni}}/account/{{iban}}"
        method="DELETE"
        on-response="manageBajaAccountResponse"
        on-error="showError"
      >
  </template>

  <script>

    class BajaCuenta extends Polymer.Element {
      static get is() { return 'baja-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, dni: {
            type: String
          }
        };
      }

    manageBajaAccountResponse(data) {
      console.log("Recibida respuesta del servidor");
      alert("¡Ya está!, cuenta cancelada.");
      window.location = "/user/" + data.detail.response.dni + "/accounts"
    }

    showError(error){
      console.log("Ocurrió un error.");
      console.log(error);
    }
  }


    window.customElements.define(BajaCuenta.is, BajaCuenta);
  </script>
</dom-module>
