<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">


<dom-module id="recibir-nombre">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <visor-usuario on-myevent="getfullname"></visor-usuario>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class RecibirNombre extends Polymer.GestureEventListeners(Polymer.Element){
     static get is() { return 'recibir-nombre'; }
     static get properties() {
       return {
       };
     }

     getfullname(e){
       console.log("Capturado el evento");
       this.fullname = e.detail.userlogedd;
     }

     processEvent(e){
       console.log("Capturado evento del emisor");
       console.log(e);
       this.$.receiver.course = e.detail.course;
       this.$.receiver.year = e.detail.year;
     }
   }

   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
