<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="alta-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

   <iron-ajax
        auto=""
        id="accountAlta"
        url="http://localhost:3000/apitechu/v2/user/{{dni}}/account"
        method="POST"
        on-response="manageAltaaccountResponse"
        on-error="showError"
      >
  </template>

  <script>

    class AltaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta'; }
      static get properties() {
        return {
          dni: {
            type: String
          }
        };
      }

    manageAltaaccountResponse(data) {
      alert("¡Ya está!, ya tienes tu nueva cuenta.");
      window.location = "/user/" + data.detail.response.dni;
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }
  }


    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
