<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div style="padding: 1px;">
      <input type="text" placeholder="Tu usuario (DNI/NIE)" value="{{dni::input}}"><br />
      <input type="password" placeholder="Tu clave de acceso" value="{{password::input}}"><br />
    </div>
    <button class="btn btn-primary" on-click="login">Entrar</button>
    <button class="btn btn-secondary" on-click="user">
      <a href="/user" style="color: white;">Hazte cliente</a>
    </button>
    
    <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    method="POST"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">
  </template>

  <script>
  /**
  * @customElement
  * @polymer
  */
  class LoginUsuario extends Polymer.Element {
    static get is() { return 'login-usuario'; }
    static get properties() {
      return {
        dni: {
          type: String
        }, password: {
          type: String
        }, isLogged: {
          type: Boolean,
          value: false
        }
      };
    }

    login() {
      var loginData = {
        "dni" : this.dni,
        "password" : this.password
      };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
    }

    manageAJAXResponse(data) {
      window.location = "/user/" + data.detail.response.dni;
    }

    showError(error){
      var errhttp = error.detail.request.status;
      console.log(errhttp);

      if (errhttp == 404) {
        alert("Usuario y/o clave de acceso incorrectos.");
      }
      else {
        console.log("Hubo un error.");
        console.log(error);
      }
    }
  }

  window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
