<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <iron-ajax
        auto=""
        url="http://localhost:3000/apitechu/v2/logout/{{dni}}"
        method="POST"
        on-response="manageLogoutResponse"
        on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          dni: {
            type: String
          }
        };
      }

      manageLogoutResponse(data) {
        console.log("Recibida respuesta del logout");
        window.location = "/login";
      }

      showError(error){
        console.log("Hubo un error");
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
