<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="visor-usuario">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/estilos.css">
    <p class="saludo">Hola, {{name}}</p>
    <br/>
    <div class="contenido">
      <h1>Cuentas</h1>
      <hr />
      <button class="btn btn-link">
        <a href="/user/{{dni}}/accounts" class="navegacion">Ver Cuentas</a>
      </button>
      <br/>
      <button class="btn btn-link">
        <a href="/user/{{dni}}/account" style="font-weight: bold;">Abrir Nueva Cuenta</a>
      </button>
    </div>
    <div class="salir">
      <button class="btn btn-warning"><a href="/logout/{{dni}}">Salir</a></button>
    </div>
    <iron-ajax
    auto=""
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{dni}}"
    handle-as="json"
    on-response="showData">
  </template>

  <script>
  /**
  * @customElement
  * @polymer
  */
  class VisorUsuario extends Polymer.GestureEventListeners(Polymer.Element) {
    static get is() { return 'visor-usuario'; }
    static get properties() {
      return {
        name: {
          type: String
        }, lastname: {
          type: String
        }, fullname: {
          type: String
        }, dni: {
          type: String
        }, email: {
          type: String
        }
      };
    }

    showData(data){
      console.log("Recibidos  datos del usuario");
      console.log(data.detail.response[0].dni);
      console.log(data.detail.response[0].name);
      console.log(data.detail.response[0].lastname);
      console.log(data.detail.response[0].email);

      this.dni = data.detail.response[0].dni;
      this.name = data.detail.response[0].name;
      this.lastname = data.detail.response[0].lastname;
      this.email = data.detail.response[0].email;
    }

    /*sendEvent(e){
    console.log("Se ha pulsado el botón ver cuentas");
    console.log(e);
    var fullname = this.name + ' ' + this.lastname;
    console.log(fullname);

    this.dispatchEvent(
    new CustomEvent(
    "myevent",
    {
    "detail" :
    {
    "userlogedd" : "fullname"
  }
}
)
);
}*/

}

window.customElements.define(VisorUsuario.is, VisorUsuario);
</script>
</dom-module>
