.saludo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #072146;
}

.contenido {
  width: 592px;
  padding: 10px;
  margin: 0 auto;
  border-style: solid;
  border-color: grey;
  background-color: white;
}

.contenido h1 {
  font-weight: bold;
  font-size: 25px;
  color: #072146;
}

.contenido table {
  width: 566px;
}

.navegacion {
  font-weight: bold;
}

th {
  background-color: #749999;
}

#cuentas {
  padding: 1px;
}

td {
  padding: 10px;
}

.salir {
  padding: 5px;
}

.salir button a {
  font-weight: bold;
  color: black;
}
