<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="alta-usuario">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12" style="color: white;">Hazte cliente</h1>
    </div>
    <div style="width: 500px; margin: 0 auto;">
      <div style="float: left;">
        <label for="dni" style="font-weight: bold; color: white;">DNI</label>
        <br/>
        <label for="nombre" style="font-weight: bold; color: white;">Nombre</label>
        <br/>
        <label for="lastname" style="font-weight: bold; color: white;">Apellidos</label>
        <br/>
        <label for="email" style="font-weight: bold; color: white;">Correo electrónico</label>
        <br/>
        <label for="password" style="font-weight: bold; color: white;">Contraseña</label>
      </div>
      <div style="float: left;">
        <input type="text" placeholder="Tu DNI/NIE" name="dni" value="{{dni::input}}">
        <br/>
        <input type="text" placeholder="Tu nombre" name="name" value="{{name::input}}">
        <br/>
        <input type="text" placeholder="Tu(s) apellidos(s)" name="lastname" value="{{lastname::input}}">
        <br/>
        <input type="email" placeholder="Tu correo electrónico" name="email" value="{{email::input}}">
        <br/>
        <input type="password" placeholder="Tu clave de acceso" name="password" value="{{password::input}}">
      </div>
    </div>
    <div style="clear: both;">
      <button class="btn btn-primary" on-click="alta">¡Vamos!</button>
    </div>

    <iron-ajax
    id="darAlta"
    url="http://localhost:3000/apitechu/v2/user"
    content-type="application/json"
    method="POST"
    handle-as="json"
    on-response="manageAltaResponse"
    on-error="showError"
    >
  </template>

  <script>

  class AltaUsuario extends Polymer.Element {
    static get is() { return 'alta-usuario'; }
    static get properties() {
      return {
        dni: {
          type: String
        }, name: {
          type: String
        }, lastname: {
          type: String
        }, email: {
          type: String
        }, password: {
          type: String
        }
      };
    }

    alta() {
      console.log("El usuario ha pulsado el botón");

      var altaData = {
        "dni" : this.dni,
        "name" :this.name,
        "lastname" :this.lastname,
        "email" : this.email,
        "password" : this.password
      };

      console.log(altaData);

      this.$.darAlta.body = JSON.stringify(altaData);
      this.$.darAlta.generateRequest();
    }

    manageAltaResponse(data) {
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      alert("El usuario ha sido dado de alta");
      window.location = "/login";
    }

    showError(error){
      console.log("Hubo un error");
      console.log(error);
    }
  }


  window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
