<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">

<dom-module id="visor-movimientos">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/estilos.css">
  <p class="saludo">Hola, {{name}}</p>
  <div class="contenido">
    <h1>Movimientos</h1>
    <table>
      <thead>
        <th>fecha</th><th>concepto</th><th>importe</th><th>operaciones<th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{movements}}">
            <tr>
              <td>{{item.date}}</td>
              <td>{{item.description}}</td>
              <td>{{item.amount}} €</td>
              <td>
                <a href="https://maps.googleapis.com/maps/api/staticmap?center={{item.location}}&zoom=15&size=640x640&markers=color:blue%7C{{item.location}}&key=AIzaSyAw_E71G_8Fgk-NmzvApLAq9ydVycTDFVU" target="_blank" class="navegacion">Ver Detalle</a>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div class="salir">
      <button class="btn btn-warning">
        <a href="/logout/{{dni}}">Salir</a>
      </button>
    </div>

    <iron-ajax
    auto=""
    id="getMovements"
    url="http://localhost:3000/apitechu/v2/users/{{dni}}/accounts/{{iban}}/movements"
    handle-as="json"
    on-response="showData"
    on-error="_showNoData">

    <iron-ajax
    auto=""
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{dni}}"
    handle-as="json"
    on-response="showName">
  </template>

  <script>
  /**
  * @customElement
  * @polymer
  */
  class VisorMovimientos extends Polymer.GestureEventListeners(Polymer.Element) {
    static get is() { return 'visor-movimientos'; }
    static get properties() {
      return {
        iban: {
          type: String
        }, name: {
          type: String
        }, lastname: {
          type: String
        }, movements: {
          type: Array
        }
      };
    }

    showData(data){
      console.log(data.detail.response);
      this.movements = data.detail.response;
    }

    _showNoData(event) {
      alert("No hay movimientos.");
    }

    showName(data){
      this.name = data.detail.response[0].name;
      this.lastname = data.detail.response[0].lastname;
    }

  }

  window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
