<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/estilos.css">
    <p class="saludo">Hola, {{name}}</p>
    <div class="contenido">
      <h1>Cuentas</h1>
      <hr />
      <table id="cuentas">
        <thead>
          <th>IBAN</th><th>saldo</th><th colspan="2">opciones</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{accounts}}">
            <tr>
              <td>{{item.iban}}</td>
              <td>{{item.balance}} €</td>
              <td>
                <a href="/user/{{dni}}/accounts/{{item.iban}}/movements" class="navegacion">Ver Movimientos</a>
              </td>
              <td>
                <a href="/user/{{dni}}/account/{{item.iban}}" class="navegacion">Cancelar</a>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div class="salir">
      <button class="btn btn-warning">
        <a href="/logout/{{dni}}">Salir</a>
      </button>
    </div>

    <iron-ajax
    auto=""
    id="getAccounts"
    url="http://localhost:3000/apitechu/v2/users/{{dni}}/accounts"
    handle-as="json"
    on-response="showData">

    <iron-ajax
    auto=""
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{dni}}"
    handle-as="json"
    on-response="showName">
  </template>

  <script>
  /**
  * @customElement
  * @polymer
  */
  class VisorCuentas extends Polymer.GestureEventListeners(Polymer.Element) {
    static get is() { return 'visor-cuentas'; }
    static get properties() {
      return {
        dni: {
          type: String
        }, name: {
          type: String
        }, lastname: {
          type: String
        }, iban: {
          type: String
        }, balance: {
          type: Number
        }, accounts: {
          type: Array
        }
      };
    }

    showData(data){
      console.log(data.detail.response);
      this.accounts = data.detail.response;
    }

    showName(data){
      console.log("Recibidos datos del usuario.");
      this.name = data.detail.response[0].name;
      this.lastname = data.detail.response[0].lastname;
    }
  }

  window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
